* {
    box-sizing: border-box;
    padding: 0px;
    /*border: 2px solid rgb(156, 81, 156);*/
    margin: 0px;
    font-family: Helvetica, sans-serif;
    color: black;
}

#background {
    background-color: lightgray;
}

#box-menu,
.box-title,
.box2 {
    display: block;
    background-color: white;
}

#box-menu {
    width: 90%;
    margin: 0px auto;

}

.box-title {
    width: 75%;
    margin: 50px auto;
}

.box2 {
    width: 75%;
    margin: 20px auto;
}

.menu-button {
    background-color: lightgrey;
    font-weight: 900;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-button:hover {
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
